<
<!DOCTYPE html>
<html lang="pt-br">
@RenderBody()
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Error </title>
    <link href="~/Scripts/imagens/logo/RST_Icon.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="~/Scripts/imagens/logo/RST_Icon.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="~/Scripts/imagens/logo/RST_Icon.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="~/Scripts/imagens/logo/RST_Icon.png" rel="apple-touch-icon" type="image/png">
    <link href="~/Scripts/imagens/logo/RST_Icon.png" rel="icon" type="image/png">
    <link href="~/Scripts/imagens/logo/RST_Icon.ico" rel="shortcut icon">

    <!--bibliotecas da pagina de erro-->
    <link href="~/Scripts/template/css/separate/pages/error.css" rel="stylesheet" />
    <link href="~/Scripts/template/css/lib/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/template/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/template/css/main.css" rel="stylesheet" />
    </head>
<body>

</body>


</html>