
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Paginas.cshtml";
}

<h4>Você ainda não realizou nenhuma compra em um estabelecimento parceiro, ou o estabelecimento não se encotra cadastrado ainda!</h4>

