@using Site.Controllers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Error.cshtml";
}


<div class="page-error-box">
    <div class="error-code">500</div>
  <div class="error-title">Ocorreu um problema. Se  ele persistir entre em contato conosco, do número (55)-3028-9900. Obrigado =) </div>
    <a href="~/Perfil/" class="btn btn-rounded">Voltar</a>
</div>